<div class="padded">
  <h2>Unstructured vs Structured Programming</h2>

  <div class="row">
    <div class="six columns">
      <h5>Goofus (also, not actual JS)</h5>
      {{code-snippet name="goto.js"}}
    </div>
    <div class="six columns">
      {{#hidden-at-first index=0}}
        <h5>Gallant</h5>
        {{code-snippet name="nogoto.js"}}
        <p>(Even better: use <code>forEach</code>)</p>
      {{/hidden-at-first}}
    </div>
  </div>
</div>

