<div class="padded">
  <h4>Example: Debounced Auto-Complete</h4>

  <div class="row">
    <div class="six columns">
      {{code-snippet name="autocomplete-1.js" class="autocomplete-example"}}
      {{code-snippet name="autocomplete-template-1.hbs" class="autocomplete-example"}}
    </div>
    <div class="six columns">
      <ul>
        <li>Based off of
          <a href="http://www.ember-power-select.com/cookbook/debounce-searches">
            ember-power-select example
          </a>
        </li>
        <li>AJAX doesn't start until 250ms after user stops typing</li>
        <li>Continuing to type will cancel prior AJAX</li>
      </ul>

      <h5>GitHub Repo Search</h5>

      {{! BEGIN-SNIPPET autocomplete-template-1 }}
      {{#power-select search=(perform searchRepo)
                selected=selected
                onchange=(action (mut selected)) as |repo|}}
        {{repo.full_name}}
      {{/power-select}}
      {{! END-SNIPPET }}
    </div>
  </div>
</div>

