<div class="flex-center">
  <h1>
    ember-concurrency
  </h1>

  <h3>
    Ember NYC. Feb 25, 2016.
  </h3>

  <h4>
    Alex Matchneer -
    <a href="https://twitter.com/machty">{{scrambled-text text='@machty'}}</a>
  </h4>
</div>

