<div class="flex-center padded" style="width: 100%">
  {{#liquid-spacer growDuration=250 class="max-width"}}
    <h3>
      If only there were a composable, reusable, elegant,
      non-boilerplate, all-purpose solution to this problem.
    </h3>
  {{/liquid-spacer}}
</div>

