<div class="flex-center padded" style="width: 100%">
  {{#liquid-spacer growDuration=250 class="max-width"}}
    <h2>Structured Concurrency?</h2>

    {{#hidden-at-first index=0}}
      <h4>Based on the idea of Structured Programming</h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=1}}
      <h4>"Go To Statement Considered Harmful" - Dijkstra</h4>
    {{/hidden-at-first}}
  {{/liquid-spacer}}
</div>

