<div class="flex-center padded" style="width: 100%">
  {{#liquid-spacer growDuration=250 class="max-width"}}
    <h2>The Problem</h2>

    {{#hidden-at-first index=0}}
      <h4>Language/framework-enforced boundaries are important</h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=1}}
      <h4>When can't rely on them, you have to write your own</h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=2}}
      <h4>...over and over</h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=3}}
      <h4>...and you're likely to get it wrong.</h4>
    {{/hidden-at-first}}
  {{/liquid-spacer}}
</div>


