<div class="flex-center padded" style="width: 100%">
  {{#liquid-spacer growDuration=250 class="max-width"}}
    <h2>This means we really need Cancelation</h2>

    {{#hidden-at-first index=0}}
      <h4>How can we prevent lifecycle leakage if we can't cancel async operations?</h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=1}}
      <h4>
        Promises, according to present specifications, are not cancelable
        (though folk are starting to talk about it)
      </h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=2}}
      <h4>Until they are, we need something better</h4>
    {{/hidden-at-first}}
  {{/liquid-spacer}}
</div>

