<div class="flex-center padded" style="width: 100%">
  {{#liquid-spacer growDuration=250 class="max-width"}}
    <h2>Does JavaScript give you Structured Programming?</h2>

    {{#hidden-at-first index=0}}
      <h4>Yes, but only when code is synchronous</h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=1}}
      <h4>...so, it pretty much immediately loses its value.</h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=2}}
      <h4>Callbacks become the new GOTO</h4>
    {{/hidden-at-first}}
  {{/liquid-spacer}}
</div>

