<div class="padded">
  <h2>Introducing: Tasks</h2>

  <div class="row">
    <div class="six columns">
      {{code-snippet name="task-1-component.js"}}
    </div>
    <div class="six columns">
      <ul>
        <h5>Tasks are <code>perform</code>ed</h5>

        {{#hidden-at-first index=0}}
          <h5>Tasks are cancelable</h5>
        {{/hidden-at-first}}

        {{#hidden-at-first index=1}}
          <h5>Implement tasks with generator functions</h5>
        {{/hidden-at-first}}

        {{#hidden-at-first index=2}}
          <h5>
            To pause a task, simply <code>yield</code>
            a promise.
          </h5>
        {{/hidden-at-first}}
      </ul>
    </div>
  </div>
</div>

