<div class="padded">
  <h3>Advanced Topics</h3>

  <ul>
    <li>Using task modifiers with max concurrency greater than 1</li>
    <li>Deeply nested child tasks, with deep cancelation</li>
    <li>Using <code>Promise.all</code> / <code>Promise.race</code> in conjunction with child tasks</li>
    <li>Enforcing concurrency constraints between two (or more) different tasks</li>
    <li>Integrating with other async schemes, like Observables</li>
    <li>See <a href="http://ember-concurrency.com">ember-concurrency.com</a> for more</li>
  </ul>
</div>

