<div class="padded">
  <h3>More examples</h3>

  <ul>
    <li>Throttling websockets / noisy streams</li>
    <li>Resource management (e.g. enforce max N AJAX connections)</li>
    <li>Tooltips / delayed menu dropdowns</li>
    <li>Loop until operation succeeds, with exponential backoff</li>
    <li>...the list goes on</li>
  </ul>
</div>

