<div class="flex-center padded" style="width: 100%">
  {{#liquid-spacer growDuration=250 class="max-width"}}
    <h2>What we really want is <br>Structured Concurrency</h2>

    {{#hidden-at-first index=0}}
      <h4>Simple rules and constraints for asynchronous lifecycles</h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=1}}
      <h4>Subroutine lifespans shouldn't outlive parent lifespans</h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=2}}
      <h4>Minimal/no boilerplate for everyday async</h4>
    {{/hidden-at-first}}
  {{/liquid-spacer}}
</div>

