<div class="padded">
  <h3>Thank you!</h3>
  <h4>
    <a href="https://twitter.com/machty">@machty</a>
  </h4>

  <h4>
    <a href="http://ember-concurrency.com">ember-concurrency.com</a>
  </h4>

  <h4>
    <a href="https://github.com/machty/ec-prezo">Source code for these slides</a>
  </h4>

</div>

