<div class="padded">
  <h3>In Summary</h3>

  <div class="row">
    <div class="six columns">
      <h4>Things that used to <strong>suck</strong>:</h4>
      <h5>1. Async cleanup in lifecycle hooks</h5>
      <h5>2. Callback heck</h5>
      <h5>3. Homegrown cancelation schemes</h5>
      <h5>4. Setting/unsetting isRunning</h5>
      <h5>5. Checking <code>.isDestroyed</code></h5>
    </div>
    <div class="six columns">
      <h4>Things that <strong>rock</strong>:</h4>
      <h5>1. Near-zero boilerplate</h5>
      <h5>2. Concurrency as a first-class citizen</h5>
      <h5>3. Switching between concurrency strategies is effortless</h5>
      <h5>4. Still manages to feel like Ember</h5>
    </div>
  </div>
</div>

