<div class="bg-image" style="background-image: url(assets/images/react.jpg)"></div>

<div class="padded">
  {{#hidden-at-first index=0}}
    <h1 class="centered trolol">
      trololololol
      trololololol
      trololololol
      trololololol
      trololololol
      trololololol
      trololololol
      trololololol
      trololololol
      trololololol
      trololololol
      trololololol
      trololololol
      trololololol
      trololololol
      trololololol
      trololololol
      trololololol
    </h1>
  {{/hidden-at-first}}
</div>

