<div class="flex-center padded" style="width: 100%">
  {{#liquid-spacer growDuration=250 class="max-width"}}
    <h2>What is ember-concurrency?</h2>

    {{#hidden-at-first index=0}}
      <h4>An Ember Addon</h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=1}}
      <h4>...that enables you to write Tasks</h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=2}}
      <h4>...which are cancelable, restartable, asynchronous operations</h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=3}}
      <h4>...that bring Structured Concurrency to your app.</h4>
    {{/hidden-at-first}}
  {{/liquid-spacer}}
</div>

