<div class="padded">
  <h2>Async Structured Programming Problems</h2>

  <div class="row">
    <div class="six columns">
      <img src="images/kludge1.jpg" alt="" height="350" />
    </div>
    <div class="six columns">
      <img src="images/kludge2.jpg" alt="" height="350" />
    </div>
  </div>
</div>

