<div class="padded">
  <h2>Async Structured Programming Problems</h2>

  <div class="row" style="text-align: center;">
    <img src="assets/images/kludge1.jpg" alt="" height="350" />
    <img src="assets/images/kludge2.jpg" alt="" height="350" />
  </div>
</div>

