<div class="padded">
  <h2>Structured Programming</h2>

  <div class="row">
    <div class="six columns">
      <h4>Dictates clear logical boundaries in your code</h4>

      {{#hidden-at-first index=0}}
        <h4>Always understand "Why Am I Here?"</h4>
      {{/hidden-at-first}}

      {{#hidden-at-first index=1}}
        <h4>
          Easily visualize the Beginning, Middle, and End of an operation.
        </h4>
      {{/hidden-at-first}}
    </div>

    <div class="six columns">
      {{code-snippet name="why-am-i-here.js"}}

      <div class="lifecycle-outer">
        <div class="lifecycle-inner">
          todayIs('Thurs Feb 25')
        </div>

        <div class="lifecycle-outer">
          <div class="lifecycle-inner">
            lukeHasIntroducedMe()
          </div>

          <div class="lifecycle-outer">
            <div class="lifecycle-inner">
              roomHasPeopleInIt()
            </div>

            <div class="lifecycle-outer">
              <div class="lifecycle-inner">
                keepTalking()
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

