<div class="flex-center padded" style="width: 100%">
  {{#liquid-spacer growDuration=250 class="max-width"}}
    <h1>
      List of Things that Rock:
    </h1>

    {{#hidden-at-first index=0}}
      <h4>1. Zero boilerplate</h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=1}}
      <h4>2. Zero cost to switch between modifiers</h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=2}}
      <h4>3. When all else fails, you can always fall back to canceling tasks manually</h4>
    {{/hidden-at-first}}
  {{/liquid-spacer}}
</div>

