<div class="padded">
  <h2>Preventing Concurrency</h2>

  <div class="row">
    <div class="six columns">
      {{code-snippet name="save-model-fixed.js"}}
    </div>
    <div class="six columns">
      <h5>What if the user clicks Save while it's already saving?</h5>

      <p>Pick your poison:</p>

      <ul>
        <li>Add guards to Handlebars code to prevent the <code>\{{action}}</code>
          from firing while saving
        </li>
        <li>Add guards to JavaScript code to return early if already saving</li>
        <li>...in either case, you need to manually set/unset flags to
          track the beginning/end of operation.
        </li>
      </ul>
    </div>
  </div>
</div>

