<div class="flex-center padded" style="width: 100%">
  {{#liquid-spacer growDuration=250 class="max-width"}}
    <h3>
      Introducing: Task Modifiers
    </h3>
    <h5>(your three new best friends)</h5>

    {{#hidden-at-first index=0}}
      <h5>
        <code>task(...).drop()</code>
      </h5>
    {{/hidden-at-first}}

    {{#hidden-at-first index=1}}
      <h5>
        <code>task(...).enqueue()</code>
      </h5>
    {{/hidden-at-first}}

    {{#hidden-at-first index=2}}
      <h5>
        <code>task(...).restartable()</code>
      </h5>
    {{/hidden-at-first}}
  {{/liquid-spacer}}
</div>

