<div class="flex-center padded" style="width: 100%">
  {{#liquid-spacer growDuration=250 class="max-width"}}
    <h2>The Symptoms</h2>

    {{#hidden-at-first index=0}}
      <h4>Checking <code>if (this.isDestroyed)</code></h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=1}}
      <h4>Writing <code>clearTimeout</code> / <code>Ember.run.cancel</code></h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=2}}
      <h4>Writing <code>willDestroy</code> hooks</h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=3}}
      <h4>Writing <code>if(shouldIKeepGoing)</code> logic</h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=4}}
      <h4>Writing guards to prevent an operation from running concurrently</h4>
    {{/hidden-at-first}}
  {{/liquid-spacer}}
</div>


